*.py[co]
test_settings/log
test_settings/*.gpg
.*.swp
test_key/random_seed
abraxas.1
abraxas.1.rst
abraxas.1.pdf
abraxas.3
abraxas.3.rst
abraxas.3.pdf
abraxas.5
abraxas.5.rst
abraxas.5.pdf
install.out
release
test
test_key/.gpg-v21-migrated
test_key/private-keys-v1.d/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.test*.sum
generated_settings/**

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
